/* Variables to reference in the styles/ or to change them later easily */
:root {
    --dark-text-color: #000;
    --light-text-color: #fff;
    --mid-text-color: #9e9e9e;

    --main-font: Roboto, sans-serif;
    --heading-font: Commissioner, sans-serif;

    --h1-size: 4rem;
    --h1-height: 1;
    --h2-size: 2.4rem;
    --h2-height: 1.25;
    --h3-size: 1.5rem;
    --h4-size: 1.2rem;
    --h5-size: 1rem;
    --h6-size: 0.75rem;
    --subtitle-size: 1.1rem;
    --p-size: 1.125rem;
    --p-height: 1.4;
    --secondary-text-size: 0.875rem;
    --secondary-text-height: 1.28;

    --purple-1: #6962f7;
    --purple-2: #7000ff;
    --blue-1: #00d4ff;
    --bg-light: #f7f9fc;
    --primary-accent: #0a2540;
    --primary-accent-light: #257bd2;
    --bg-light-2: #bdbdbd9e;

    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-l: 32px;
    --spacing-xl: 64px;
    --content-width: 1144px;


}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    color: var(--dark-text-color);
    background-color: var(--bg-light);
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* Generic tag styles for consistency */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    font-weight: 600;
    margin: var(--spacing-md) 0;
}

h1 {
    font-size: var(--h1-size);
    line-height: var(--h1-height);
    letter-spacing: 2px;
}

h2 {
    font-size: var(--h2-size);
    line-height: var(--h2-height);
    letter-spacing: 1.5px;
}

h3 {
    font-size: var(--h3-size);
}

h4 {
    font-size: var(--h4-size);
}

h5 {
    font-size: var(--h5-size);
}

h6 {
    font-size: var(--h6-size);
}

p {
    font-size: var(--p-size);
    line-height: var(--p-height);
    margin: var(--spacing-md) 0;
}

a {
    color: var(--purple-1);
    text-decoration: none;
    font-weight: 500;

    transition: color 0.2s ease-in-out;
}

a:hover {
    color: var(--primary-accent);
}

button {
    color: var(--purple-2);
    font-family: var(--main-font);
    font-size: var(--p-size);
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: 20px;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;

    transition: opacity 0.2s ease, transform 0.2s ease;
}


button:hover {
    opacity: 75%;
}

button:active {
    transform: scale(0.85);
}

/* Overused element styles */
.obliqueContainer {
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.obliqueContainer::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0) rotate(-10deg);
    z-index: -1;
}

.subtitle1 {
    color: var(--purple-1);
    font-family: var(--heading-font);
    font-weight: 600;
    font-size: var(--subtitle-size);
}

.subtitle2 {
    color: var(--blue-1);
    font-family: var(--heading-font);
    font-weight: 600;
    font-size: var(--subtitle-size);
}

.secondaryText {
    color: var(--mid-text-color);
    font-size: var(--secondary-text-size);
    line-height: var(--secondary-text-height);
    letter-spacing: 0.25px;
}

.primaryBtn {
    color: var(--light-text-color);
    background-color: var(--primary-accent);
}

.btnArrow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnArrow::after {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(assets/arrow-right-purple.svg);
    background-size: contain;

    transition: transform 0.2s ease;
}

.btnArrow:hover::after {
    transform: translateX(25%);
}


.primaryBtn.btnArrow::after,
.secondaryBtn.btnArrow::after,
.ternaryBtn.btnArrow::after,
.quadBtn.btnArrow::after {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(assets/arrow-right-light.svg);
    background-size: contain;

    transition: transform 0.2s ease;
}


.secondaryBtn {
    background-color: var(--bg-light-2);
    color: var(--light-text-color);
}

.ternaryBtn {
    background-color: var(--blue-1);
    color: var(--light-text-color);
}

.quadBtn {
    background-color: var(--purple-1);
    color: var(--light-text-color);
}


.twoCol {
    display: flex;
    align-items: start;
    justify-content: center;
    column-gap: 40px;
    box-sizing: border-box;
}

.left {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    box-sizing: border-box;
}

.right {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    box-sizing: border-box;
}

.sectionContainer {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: var(--spacing-l) var(--spacing-md);
}

/* Actual CSS for individual elements */


/* Header */
header {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.mainNav {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--content-width);
}

.mainNav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0;
    padding: 0;
}


.mainNav a {
    font-weight: bold;
    color: var(--light-text-color);
}

.mainNav a:hover {
    color: var(--light-text-color);
    text-decoration: underline;
    text-underline-offset: 4px;
}

.mainNav img,
#logoBottom {
    transition: transform 0.2s ease-in-out;
}

.mainNav img:hover,
#logoBottom:hover {
    transform: scale(1.2);
}


.headerBtnContainer {
    display: flex;
    margin-top: var(--spacing-md);
}

.hero {
    margin-top: var(--spacing-xl);
}

.hero p {
    width: 75%;
}

.heroPhoneContainer {
    align-items: flex-end;
}

.heroPhone {
    width: 350px;
}

.hero .left {
    align-self: stretch;
}

.companyGrid {
    display: grid;
    width: 100%;
    row-gap: 30px;
    margin: var(--spacing-xl) 0;
    grid-template: 1fr 1fr / repeat(4, 1fr);
}


.companyGrid img {
    width: 50%;
    min-width: 100px;

    transition: transform 0.2s ease-in-out;
}

.companyGrid img:hover {
    transform: translateY(-6px);
}

.companyGrid>div>a {
    display: flex;
    align-items: center;
    justify-content: center;
}


.navContainer {
    background-color: var(--purple-2);
}

.heroContainer {
    background-color: var(--bg-light);
}

#navBtn {
    color: var(--light-text-color);
}

#navBtn::after {
    background-image: url("assets/arrow-right-light.svg")
}

/* main */

main {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 100%;
    max-width: var(--content-width);
}


.unifiedPlatform {
    margin-bottom: var(--spacing-xl);
}

.unifiedPlatform h2 {
    width: 50%;
    box-sizing: border-box;
}

.unifiedPlatform .twoCol {
    margin: var(--spacing-l) 0 var(--spacing-md) 0;
}


.demoGrid {
    margin: calc(var(--spacing-xl)*2) 0;
    display: grid;
    grid-template-areas:
        "a b b"
        "c b b"
        "c d d"
        "c d d";

    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 20px
}

.demoGrid img {
    width: 100%;
}

.demo1 {
    grid-area: a;
}

.demo2 {
    grid-area: b;
}

.demo3 {
    grid-area: c;
}

.demo4 {
    grid-area: d;
}

.api {
    color: var(--light-text-color);
    transform: rotate(-10deg) scale(0.5);
}

.apiDemo {
    width: 80%;
    border-radius: 15px;
}

.api .right {
    justify-content: center;
    align-self: stretch;
}

.apiDemo:nth-of-type(1) {
    margin-bottom: var(--spacing-md);
}

.card {
    margin: var(--spacing-l) 0;
}

.card img {
    width: 40px;
}

.card h3 {
    margin: var(--spacing-sm) 0;
}

.api .card button {
    color: var(--blue-1);
}

.api .card button::after {
    background-image: url("assets/arrow-right-blue.svg");
}

.api h2 {
    margin: var(--spacing-sm) 0 var(--spacing-md) 0;
}

.api .subtitle2 {
    margin: 0;
}

.api>.left>button {
    color: var(--primary-accent);
}

.api>.left>button::after {
    background-image: url("assets/arrow-right-dark.svg");
}


.whySwipe .card {
    box-sizing: border-box;
    width: 250px;
}

.whySwipe .cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: var(--spacing-md);
}

.globalScale {
    padding: calc(var(--spacing-xl) * 2) 0;
    color: var(--light-text-color);
    position: relative;
    z-index: 0;
    transform: rotate(-10deg) scale(0.5);
}

.globalScale>div:nth-of-type(1) {
    width: 50%;
}

.globalScale a {
    color: var(--blue-1);
}

.globalScale a:hover {
    color: var(--purple-2);
}


.globalScale .cardContainer {
    margin-top: calc(var(--spacing-xl) * 2);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: var(--spacing-md);
}

.globalScale .card {
    width: 250px;
    box-sizing: border-box;
}

.globalScale .card h3 {
    border-left: 3px solid var(--blue-1);
    padding-left: var(--spacing-sm);
}

#globalPhoto {
    max-width: 850px;
    position: absolute;
    top: -5%;
    right: -20%;
    z-index: -1;
    opacity: 0.2;
}


.swipeSessions {
    padding: calc(var(--spacing-xl)*2) 0;
}

.swipeSessions .right {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background: linear-gradient(to right, #3f2b96, #6d1186);
    padding: var(--spacing-l) var(--spacing-l);
    border-radius: 14px;
    position: relative;
    justify-content: space-between;
    align-self: stretch;
}


.swipeSessions .right::before {
    background-color: white;
}

.swipeSessions .imgContainer {
    display: flex;
    position: absolute;
    width: 100%;
    height: 80px;
    margin-bottom: var(--spacing-l);
    justify-content: flex-start;
    top: 45%;
}

.swipeSessions .imgContainer img {
    width: 80px;
}

.swipeSessions .imgContainer img:nth-of-type(2) {
    transform: translateX(-20%);
}



#swipeSessionsImg {
    width: 100%;
    max-width: 450px;
    align-self: center;
    margin: var(--spacing-l) 0 calc(var(--spacing-xl)*3) 0;
}


.swipeSessions .left {
    margin: 0;
    align-self: stretch;
}

.specialCol {
    flex-direction: row;
}

.gettingStarted>.left>p {
    margin: var(--spacing-l) 0;
}

.unifiedPlatformContainer {
    background-color: var(--bg-light);
}

.apiContainer {
    background-color: var(--primary-accent);
    margin: 400px 0;
    transform: rotate(10deg) scale(2);
}

.whySwipeContainer {
    background-color: var(--bg-light);
}

.globalScaleContainer {
    background-color: var(--primary-accent);
    /* padding: calc(var(--spacing-xl)*3) var(--spacing-md); */
    margin: 600px 0;
    transform: rotate(10deg) scale(2);
}

.swipeSessionsContainer {
    background-color: var(--bg-light);
}

.gettingStartedContainer {
    background-color: var(--bg-light);
    padding: 0 var(--spacing-md) calc(var(--spacing-xl)*3) var(--spacing-md);
}

.companyGridContainer{
    background-color: var(--light-text-color);
}
/* Footer */

footer {
    color: var(--light-text-color);
    width: 100%;
    background-color: rebeccapurple;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerContainer {
    width: 100%;
    max-width: var(--content-width);
    box-sizing: border-box;
    padding: var(--spacing-l) var(--spacing-md);
    display: flex;
    flex-direction: row;
    align-self: stretch;
    align-items: flex-start;
    justify-content: space-between;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footerMainLists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-md);
    align-self: stretch;
}

footer>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footerMainLists a {
    color: var(--light-text-color);
}

.footerMainLists a:hover {
    text-decoration: underline;
    color: var(--light-text-color);
}

.footerListImage {
    width: 20px;
    filter: invert();
}

.footerSecondaryList {
    margin: var(--spacing-md) 0;
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-md);
}

.listTitles {
    font-weight: bold;
    font-family: var(--heading-font);
    font-size: var(--h4-size);
}

#logoBottom {
    width: 100px;
}


/* Selections */

::selection{
    background-color:gold;
    color: black;
}


/* Notes for responsiveness 
    1100px Make api section mobile-like
    900px remove hero phone; 
    800px for nav switch to burger; change layout of demo section to mobile-like
*/